<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <div class="row my-5">
            <div class="col-3">
                <div class="card">
                    <img src="https://picsum.photos/300/200" alt="" class="card-img-top">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header">Card Header</div>
                    <div class="card-body">Lorem ipsum dolor sit amet.</div>
                    <div class="card-footer">2 days ago</div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://picsum.photos/300/200"
                            class="img-fluid rounded-start"
                            alt="">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card Title</h5>
                                <p class="card-text">
                                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Last updated 3 min ago
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="card-group">
                <div class="card">
                    <img src="https:/picsum.photos/300/200"
                    class="card-img-top"
                    alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="https:/picsum.photos/300/200"
                    class="card-img-top"
                    alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">
                            This card has supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="https:/picsum.photos/300/200"
                    class="card-img-top"
                    alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">
                            This card has supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <div class="card-title">Primary Card Title</div>
                        <div class="card-text">
                            Some Quick example text to build on the card title and make up the bulk of the card's content.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <div class="card-title">Dark Card Title</div>
                        <div class="card-text">
                            Some Quick example text to build on the card title and make up the bulk of the card's content.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <div class="card-title">Info Card Title</div>
                        <div class="card-text">
                            Some Quick example text to build on the card title and make up the bulk of the card's content.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <div class="card-title">Danger Card Title</div>
                        <div class="card-text">
                            Some Quick example text to build on the card title and make up the bulk of the card's content.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary Card Title</h5>
                    <p class="card-text">
                        Some Quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
                </div>

                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Secondary</div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Secondary Card Title</h5>
                        <p class="card-text">
                            Some Quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>

                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Success</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">Success Card Title</h5>
                        <p class="card-text">
                            Some Quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>

                <div class="card border-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Danger</div>
                    <div class="card-body text-danger">
                        <h5 class="card-title">Danger Card Title</h5>
                        <p class="card-text">
                            Some Quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="https://picsum.photos/300/200" class="card-img-top" alt="">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">
                        Some quick example ttext to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go Somewhere</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>